<app-head></app-head>

<div class="store-container container-fluid my-4 px-md-4">

  <app-filtro [filtros]="filtros" [proveedores]="proveedores" (filtroChange)="filtrarLibros($event)">
  </app-filtro>

  <main class="products-content">
    <div class="card-container">

      <!-- Iteramos sobre listaLibros -->
      <div *ngFor="let item of listaLibros" class="card">

        <div class="img-wrapper">
          <img [src]="item.libro.imagen" [alt]="item.libro.titulo">
        </div>

        <div class="card-body">

          <h5 class="card-title" [title]="item.libro.titulo">

            {{ item.libro.titulo }}

          </h5>

          <p class="price">
            S/ {{ item.precio | number:'1.2-2' }}
          </p>

          <button type="button" class="btn-comprar" (click)="redireccionarAlDetalleProducto(item.libro.idLibro)">

            Comprar

          </button>

        </div>

      </div>

    </div>
  </main>

</div>

<app-footer></app-footer>