.fondo-semi-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Z-index menor para que esté detrás del carro */
  }
  
  .carro-overlay {
    position: fixed;
    top: 0;
    right: 0; /* Posiciona el componente en el lado derecho */
    width: 40%; /* Ocupa un 40% de la pantalla en ancho */
    height: 100%; /* Ocupa toda la pantalla en altura */
    z-index: 1000; /* Z-index alto para que esté por encima del fondo semitransparente */
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al final (derecha) */
  }
  
  .carro-container {
    max-width: 100%; /* Ajusta el ancho máximo para evitar que exceda el tamaño especificado */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .cerrar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .cerrar-btn:hover {
    background-color: #aaa;
  }
  

  