

<swiper-container class="mySwiper" [slidesPerView]="getSlidesPerView()" navigation autoplay [spaceBetween]="40">
  <ng-container *ngFor="let element of datas; let i = index">
    <swiper-slide>
      <div class="card">
        <div class="img-wrapper">
          <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ element.titulo }}</h5>
          <h1 class="price" *ngIf="element.precioVenta; else loading">
            S/{{ element.precioVenta | number:'1.2-2' }}
          </h1>
          <ng-template #loading>
            <span>Cargando precio...</span>
          </ng-template>
          <button type="button" class="btn btn-primary fs-5" [routerLink]="['/detalle-producto', element.idLibro]">Comprar</button>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>