<div *ngIf="loadingStateService.loading$() === 'waiting'" class="loading-state">
  <div class="skeleton-container">
    <div *ngFor="let skeleton of [1, 2, 3, 4, 5]" class="skeleton-card">
      <div class="skeleton-image"></div>
      <div class="skeleton-text title"></div>
      <div class="skeleton-text price"></div>
      <div class="skeleton-button"></div>
    </div>
  </div>
</div>

<swiper-container *ngIf="loadingStateService.loading$() === 'successful'" class="mySwiper"
  [slidesPerView]="getSlidesPerView()" navigation autoplay [spaceBetween]="80">
  
  <!-- Iteramos sobre la nueva lista optimizada -->
  <ng-container *ngFor="let element of libros; let i = index">
    <swiper-slide>
      <div class="card">
        <div class="img-wrapper">
          <!-- Accedemos a la propiedad anidada libroCompleto -->
          <img [src]="element.libro.imagen || element.libro.imagen || defaultImageUrl" (error)="onImageError($event)" alt="Libro" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ element.libro.titulo }}</h5>
          
          <!-- El precio ya viene directo, se elimina el ngIf y el #loading -->
          <h1 class="price">
            S/{{ element.precio | number:'1.2-2' }}
          </h1>
          
          <button type="button" class="btn btn-primary fs-5" [routerLink]="['/detalle-producto', element.libro.idLibro]">
            <i class="fas fa-cart-plus"></i> Comprar
          </button>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>

<div *ngIf="loadingStateService.loading$() === 'error'" class="error-state">
  <p class="text-center text-danger">Hubo un error al cargar los datos. Por favor, inténtalo de nuevo más tarde.</p>
</div>