.img-wrapper {
    max-width: 310px; 
    max-height: 441px; 
    overflow: hidden; 
    margin: 0 auto; 
}

img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

@media screen and (min-width:576px) {
    .carousel-inner {
        display: flex;
        overflow-x: auto;
        overflow-x: hidden;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 5);
    }
    .img-wrapper {
        height: 23vw;
    }
    .carousel-item:last-child {
        margin-right: 0; 
    }
}
.carousel-inner {
    padding: 1em;
}
.card {
    width: 310px;
    margin: 30px;
    /* border-radius: 0; */
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
}

.carousel-control-antes, .carousel-control-siguiente{
    width: 6vh;
    height: 6vh;
    background-color: floralwhite;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}
.carousel-control-antes:hover, 
.carousel-control-siguiente:hover{
    opacity: 1;
}
.card-body {
    padding: 1rem; 
    text-align: center; 
    position: relative;
}

.btn {
    width: 278px;
    height: 48px; 
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    opacity: 0; 
}

.card:hover .btn {
    display: block;
}
.card-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 1rem; 
  }


.card-title {
    position: relative; 
    z-index: 2; /* Asegura que el título esté por encima del botón */
}
.card:hover .price,
.card:hover .btn {
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
    height: 40px; 
    background-color: transparent; 
    border: none; 
    border-radius: 50%; 
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
    border-radius: 50%; 
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}
