<app-head></app-head>

<div>
  <h1 class="text-center">Finaliza tu compra</h1>
</div>

<div  class="container mt-5">
  <div id="paypal-button-container"></div>
</div>

<div class="container mt-5" *ngIf="mostrarOpcionesEnvio">
  <h2>Opciones de Envío</h2>
  <!-- Agrega aquí las opciones de envío, como recojo en tienda o envío a domicilio -->
</div>

<!-- Este botón podría usarse para mostrar las opciones de envío, por ejemplo -->
<button (click)="toggleOpcionesEnvio()" class="btn btn-primary">Opciones de Envío</button>
<button (click)="procesarPago()" class="btn btn-primary">Proceder al Pago</button>
