<app-head></app-head>

<div class="text-center">
  <h1>Finaliza tu compra</h1>
</div>

<!-- Sección de Método de Pago -->
<div class="container mt-5 text-center">
  <h2>Método de Pago</h2>
  <!-- Botón de PayPal con texto en azul -->
  <button (click)="procesarPago()" class="btn btn-outline-primary btn-lg">
    Pagar con <i class="fab fa-paypal"></i> PayPal
  </button>
</div>

<!-- Sección de opciones de envío oculta por ahora -->
<!--
<div class="container mt-5">
  <h2>Opciones de Envío</h2>
   Agrega aquí las opciones de envío, como recojo en tienda o envío a domicilio 
</div>
-->

<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <div class="loading-text">Redirigiendo...</div>
</div>
