<br>
<h1></h1>
<div class="text-center card container col-md-3 ">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="../../../../assets/Libreria-Saber.logo_.jpg" alt="" width="180" 
            height="75">
        <h1 class="h3 mb-3 fw-normal">Registrate</h1>
        <div class="row">
            <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="login()">
                <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Sing in Google
            </button>
        </div>
    </div>
</div>

  