<!-- Navbar Principal -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container"> <!-- 🔹 Agregado "container" para limitar el ancho -->
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/inicio">
            <span class="logo-text">Libreria Saber</span>

        </a>

        <!-- Barra de búsqueda -->
        <div class="search-wrapper">
            <app-res-busquedad></app-res-busquedad>
        </div>

        <!-- Menú de usuario -->
        <div class="icons-container">
            <!-- Favoritos -->
            <button class="btn btn-link text-decoration-none text-dark">
                <i class="fas fa-heart text-danger"></i> Favoritos
            </button>

            <!-- Usuario (Regístrate o Menú) -->
            <div class="user-dropdown" *ngIf="!vernombre; else templateRegister">
                <a class="btn btn-link text-decoration-none text-dark" routerLink="/auth/log-in">
                    <i class="fas fa-user-circle text-primary"></i> Regístrese
                </a>
            </div>

            <ng-template #templateRegister>
                <div class="user-dropdown">
                    <button class="btn text-dark dropdown-toggle" (click)="toggleMenu($event)">
                        <i class="fas fa-user text-primary"></i> {{ displayname }}
                    </button>
                    <ul class="dropdown-menu" [ngClass]="{ 'show': isMenuVisible }">
                        <li><button class="dropdown-item" (click)="onSelectOption('miperfil')">Mi perfil</button></li>
                        <li><button class="dropdown-item" (click)="onSelectOption('cerrarSesion')">Cerrar
                                sesión</button></li>
                    </ul>
                </div>
            </ng-template>
            <!-- Utiliza *ngIf para mostrar u ocultar el componente del carrito -->
            <div *ngIf="mostrarCarrito">
                <app-carro></app-carro>
            </div>
            <!-- Carrito -->
            <button class="btn btn-link text-decoration-none text-dark position-relative" (click)="toggleCarrito()">
                <i class="fas fa-shopping-cart text-primary"></i> Carrito
                <span *ngIf="totalItems > 0" class="contador-items">
                    {{ totalItems > 99 ? '99+' : totalItems }}
                </span>
            </button>            
        </div>

    </div>
</nav>
<!-- 🔹 Contenedor para app-filtrador -->
<div class="filtrador-container">
    <app-filtrador></app-filtrador>
</div>