<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container px-4 px-lg-5">
        <!-- Texto en la esquina izquierda -->
        <a class="navbar-brand position-absolute top-0 start-0" style="margin-top: 5px; padding-top: 0; margin-left: 150px; margin-right: 30px;">
            <span style="color: blue; text-shadow: 0 0 10px rgba(0, 255, 0, 0.8); font-size: 24px; font-weight: bold;" routerLink="/inicio">Libreria Saber</span>
        </a>
        <!-- Campo de búsqueda en el centro -->
        <form class="d-flex flex-grow-1 justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-link text-decoration-none text-dark me-3">
                        <i class="fas fa-heart text-danger me-1"></i> <!-- Icono de corazón -->
                        Favoritos
                    </button>
                </li>
                <li class="nav-item">
                    <div *ngIf="!vernombre; else templateRegister" class="d-flex align-items-center">
                        <a class="btn btn-link text-decoration-none text-dark me-3" routerLink="/auth/log-in">
                            <i class="fas fa-user-circle text-primary me-1"></i> <!-- Icono de usuario -->
                            Regístrese
                        </a>
                    </div>
                </li>
                <ng-template #templateRegister>
                    <li class="nav-item" *ngIf="vernombre" style="height: 40px;">
                        <div class="d-flex align-items-center">
                            <select (change)="onSelectOption($event)" class="form-select form-select-sm">
                                <option>{{ displayname }}</option>
                                <option value="miperfil">Mi perfil</option>
                                <option value="cerrarSesion">Cerrar sesión</option>
                            </select>
                        </div>
                    </li>
                </ng-template>
                <button (click)="onClick()">salir</button>
                <li class="nav-item">
                    <!-- Utiliza *ngIf para mostrar u ocultar el componente del carrito -->
                    <div *ngIf="mostrarCarrito">
                    <app-carro></app-carro>
                    </div>
                    <button class="btn btn-link text-decoration-none text-dark position-relative" (click)="toggleCarrito()">
                        <i class="fas fa-shopping-cart text-primary me-1"></i> 
                        Carrito
                        <span *ngIf="totalItems > 0" class="contador-items">{{ totalItems }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="sidebar">
    <div class="circle"></div>
    <div class="line"></div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <div class="navbar-nav">
            <button class="nav-link" *ngFor="let categoria of categorias" (click)="redireccionarALibros(categoria.idCategoria)">
                {{ categoria.categoria1 }}
            </button>
        </div>
    </div>
</nav>


<button (click)="showData()"></button>
