<div class="bg-base">
<app-head></app-head>
<div class="row justify-content-center">
    <!-- Imagen del usuario -->
    <div class="user-image-container text-center col-auto">
        <img src={{photoURL}} alt="User Image" class="user-image img-fluid d-inline-block">
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-8">
        <!-- Botones de navegación -->
        <div class="text-center mb-3">
            <button class="btn btn-outline-secondary btn-lg mb-2" (click)="mostrarSeccion('profile')" [class.active]="currentSection === 'profile'">Perfil</button>
            <button class="btn btn-outline-secondary btn-lg mb-2" (click)="mostrarSeccion('addirec')" [class.active]="currentSection === 'addirec'">Direcciones</button>
            <button class="btn btn-outline-secondary btn-lg mb-2" (click)="mostrarSeccion('pedidos')" [class.active]="currentSection==='pedidos'">Pedidos</button>
            <button class="btn btn-outline-secondary btn-lg mb-2" (click)="mostrarSeccion('misfav')" [class.active]="currentSection==='misfav'">Mis Favoritos</button>
            <button class="btn btn-outline-secondary btn-lg mb-2" (click)="prevpage()">Salir</button>
        </div>

        <!-- Detalles del usuario -->
        <div *ngIf="currentSection === 'profile'">
            <div class="user-details-container">  
                <div class="row">
                    <div class="col-md-6">
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Nombres:</h5>
                            <span class="detail-value">Nombre del Usuario</span>
                        </div>
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Apellidos:</h5>
                            <span class="detail-value">Apellido del Usuario</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Email:</h5>
                            <span class="detail-value">{{email}}</span>
                        </div>
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Documento de Identidad:</h5>
                            <span class="detail-value">Documento del Usuario</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Fecha de Nacimiento:</h5>
                            <span class="detail-value">Fecha de Nacimiento del Usuario</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="user-detail text-left">
                            <h5 class="detail-label text-success">Teléfono:</h5>
                            <span class="detail-value">Teléfono del Usuario</span>
                        </div>
                    </div>
                </div>
            <button class="btn btn-success btn-lg btn-block mt-3">Editar</button>
            </div>
        </div>
        <div *ngIf="currentSection === 'addirec'">
            <div class="container">
                <h2 class="text-center my-4">Gestión de Direcciones</h2>
                <!-- <div *ngIf="!hayDirecciones"> -->
                  <p>Usted no tiene direcciones por el momento.</p>
                  <!-- <button class="btn btn-primary" (click)="mostrarFormularioDireccion()">Agregar dirección</button> -->
                </div>
                
                <!-- <div *ngIf="hayDirecciones"> -->
                  <!-- Lista de direcciones existentes -->
                  <!-- <div *ngFor="let direccion of direcciones"> -->
                    <!-- <p>{{ direccion.calle }}, {{ direccion.distrito }}, {{ direccion.provincia }}, {{ direccion.departamento }}</p>
                    <button class="btn btn-secondary" (click)="editarDireccion(direccion)">Editar</button> -->
                  <!-- </div> -->
                <!-- </div> -->
                
                <!-- Formulario para agregar/editar una dirección -->
                <!-- <form *ngIf="mostrarFormulario" (ngSubmit)="enviarFormularioDireccion()">
                  <div class="form-group">
                    <label for="departamento">Departamento:</label>
                    <select class="form-control" id="departamento" required [(ngModel)]="direccionForm.departamento" name="departamento"> -->
                      <!-- Opciones de departamentos cargados del backend o directamente en el frontend -->
                    <!-- </select> -->
                  <!-- </div> -->
                  
                  <div class="form-group">
                    <label for="provincia">Provincia:</label>
                    <!-- <select class="form-control" id="provincia" required [(ngModel)]="direccionForm.provincia" name="provincia">
                    </select> -->
                  </div>
              
                  <div class="form-group">
                    <label for="distrito">Distrito:</label>
                    <!-- <select class="form-control" id="distrito" required [(ngModel)]="direccionForm.distrito" name="distrito">
                    </select> -->
                  </div>
              
                  <div class="form-group">
                    <label for="calle">Dirección exacta:</label>
                    <!-- <input type="text" class="form-control" id="calle" required [(ngModel)]="direccionForm.calle" name="calle" placeholder="Ingresa tu dirección exacta"> -->
                  </div>
              
                  <button type="submit" class="btn btn-success">Guardar dirección</button>
                <!-- </form> -->
              </div>
        </div> 
    </div>
</div>