.user-image-container {
  margin-left: 0; /* Alinear la imagen a la izquierda */
  margin-right: auto; /* Centrar la imagen horizontalmente */
}

.btn-outline-secondary {
  width: 200px; 
  margin-bottom: 10px;
  margin-inline-start: 10px;
  
}
.btn-outline-secondary:hover {
  background-color: #313eb1;
}
.btn-outline-secondary.active,
.btn-outline-secondary:active {
  background-color: #1928af;
}
.submit{
  background-color: #1928af;
}


.user-details-container {
  max-width: 750px;
  min-height: 150px; /* Permite que tenga un tamaño mínimo */
  height: auto; /* Se ajusta automáticamente según el contenido */
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Añade un padding para evitar que el contenido se vea muy ajustado */
}
.user-detail h5 {
  margin-bottom: 3px; 
}
.btn-success {
  width: 100%;
  max-width: 700px; 
  display: block;
  margin: 0 auto;
  background-color: #1928af;
}
.bg-base{
  background: #f4f6f8;
}
.container {
  max-width: 600px;
  margin: auto;
}

button {
  margin-right: 10px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}
span, p, th {
  color: #868d9d; // Reemplaza #yourColorCode por el código de color que desees
}
td{
  color: #495369;
}
h1,h2,h3,h4,h5{
  color: #495369;    ;
}
.card {
  padding: 10px; 
  max-width: 300px; 
  font-size: 14px;
}
.table {
border-collapse: collapse;
}

.table thead th {
border-bottom: 2px solid #dee2e6; 
}

.table tbody tr {
border-bottom: 1px solid #dee2e6; 
}

.table tbody tr:last-child {
border-bottom: none;
}
.table th, .table td {
border-left: none;
border-right: none;
}
.form-group {
  position: relative;

  input.ng-invalid.ng-touched {
    border: 2px solid #dc3545;
    background-color: #fff5f5;
  }

  .error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 2px;
  }
  @media (max-width: 768px) {
    .btn-outline-secondary {
      width: 100%;
    }
  
    .card {
      max-width: 100%;
    }
  }
}