<ul>
  <li *ngFor="let element of dataSource">
    <strong>Nombre:</strong> {{ element.nombre }} <br>
    <strong>Apellido:</strong> {{ element.apellido }} <br>
    <strong>Código:</strong> {{ element.codigo }} <br>
    <strong>Descripción:</strong> {{ element.descripcion }} <br>
    <hr>
  </li>
</ul>

<ul>
  <li *ngFor="let element of datas">
    <strong>Id del Libro:</strong> {{ element.idLibro }} <br>
    <strong>Título:</strong> {{ element.titulo }} <br>
    <strong>ISBN:</strong> {{ element.isbn }} <br>
    <strong>Tamaño:</strong> {{ element.tamanno }} <br>
    <strong>Descripción:</strong> {{ element.descripcion }} <br>
    <strong>Condición:</strong> {{ element.condicion }} <br>
    <strong>Impresión:</strong> {{ element.impresion }} <br>
    <strong>Tipo de Tapa:</strong> {{ element.tipoTapa }} <br>
    <strong>Estado:</strong> {{ element.estado }} <br>
    <hr>
  </li>
</ul>
