<app-head></app-head>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h6>Productos</h6>
            <ul class="list-unstyled">
                <li *ngFor="let item of itemsCarrito" class="d-flex mb-4 libro-item">
                    <img src="{{ item.libro.imagen }}" alt="" class="libro-imagen mr-3">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ item.libro.titulo }}</h5>
                        <div>Cantidad: {{ item.cantidad }}</div>
                        <div>Precio unitario: S/{{ item.precioVenta | number: '1.2-2' }}</div>
                        <div>Total: S/{{ item.cantidad * item.precioVenta | number: '1.2-2' }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="sticky-top" style="top: 20px;">
                <h6>Resumen de la compra</h6>
                <ul class="list-unstyled">
                    <li>Total: S/{{ calcularTotalCarrito() | number: '1.2-2' }}</li>
                </ul>
                <button (click)="irAPago()" [disabled]="itemsCarrito.length === 0" class="btn btn-primary btn-block">Ir a Pago</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-spinner"></div>
</div>
<app-footer></app-footer>