<app-head></app-head>
<div class="mt-5"> 
    <div style="margin-left: 100px;">
        <h6>Productos</h6>
        <ul class="items-carrito">
            <li *ngFor="let item of itemsCarrito" class="item-carrito">
                <img src="{{ item.libro.imagen }}" alt="" class="libro-imagen">
                <div class="item-detalle">
                    <span class="item-titulo">{{ item.libro.titulo }}</span>
                    <div>Cantidad: {{ item.cantidad }}</div>
                    <div>Precio unitario: S/{{ item.precioVenta | number: '1.2-2' }}</div>
                    <div>Total: S/{{ item.cantidad * item.precioVenta | number: '1.2-2' }}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="resumen-compra" style="margin-left: 100px;">
        <h6>Resumen de la compra</h6>
        <ul>
            <!-- Aquí podrías listar brevemente los ítems otra vez si es necesario -->
            <li>Total: S/{{ calcularTotalCarrito() | number: '1.2-2' }}</li>
        </ul>
        <button (click)="irAPago()" [disabled]="itemsCarrito.length === 0" class="btn btn-primary">Ir a Pago</button>
    </div>
</div>
<app-respuestas  *ngIf="showPaymentModal"></app-respuestas>
<div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-spinner"></div>
  </div>


<app-footer></app-footer>
