.search-results-container {
    position: absolute;
    z-index: 1000;
    width: 50%; /* Ajusta esto según necesites */
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
  }
  
  .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .search-result-image {
    width: 50px; /* Ajusta esto según necesites */
    height: auto;
    margin-right: 10px;
  }
  
  .search-result-info h4 {
    margin: 0;
    font-size: 1em; /* Ajusta esto según necesites */
  }
  
  .search-result-info p {
    margin: 0;
    color: #666;
  }
  
  .search-no-results {
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #666;
  }
  