<form class="d-flex flex-grow-1 justify-content-center" (ngSubmit)="buscarLibros()">
  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"
         [(ngModel)]="terminoBusqueda" name="terminoBusqueda" (input)="buscarLibros()"
         style="width: 500px;"> <!-- Ajusta el ancho según tus necesidades -->
</form>

<div *ngIf="terminoBusqueda.length > 0" class="search-results-container">
    <div *ngIf="resultados.length > 0; else noResultsTemplate">
      <div *ngFor="let libro of resultados" class="search-result-item">
        <img [src]="libro.imagen" alt="{{ libro.titulo }}" class="search-result-image">
        <div class="search-result-info">
          <h4>{{ libro.titulo }}</h4>
          <p>{{ libro.autor }}</p>
          <p>{{ libro.precio | currency }}</p>
        </div>
      </div>
    </div>
  
    <ng-template #noResultsTemplate>
      <div class="search-no-results">
        No hay libros relacionados con '{{ terminoBusqueda }}'.
      </div>
    </ng-template>
  </div>

  

  

