<title>Detalle de Producto</title>   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<app-head></app-head>



<div class="container-fluid bg-light pt-4 pb-4">
    <div class="container-lg mt-5 p-5 border rounded shadow-lg mx-auto px-5">
        <!-- Contenido -->
        <div class="row">
            <!-- Título -->
            <div class="col-md-12">
                <h2 class="mb-3">{{libro?.titulo}}</h2>
            </div>
            <!-- Imagen del Producto (Parte Izquierda) -->
            <div class="col-md-3">
                <div class="d-flex justify-content-center mb-3" style="width: 280px; height: 400px;">
                    <img src="./../../../assets/imagenes/imagen 2.jpeg"  alt="Producto" class="img-fluid h-100 w-auto" style="object-fit: cover;">
                </div>
                <!-- Tabla -->
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Autor:</th>
                            <td>{{libro?.Autor}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Editorial:</th>
                            <td>{{libro?.Editorial}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Año de publicación:</th>
                            <td>Descripción</td>
                        </tr>
                        <tr>
                            <th scope="row">Páginas:</th>
                            <td>Descripción</td>
                        </tr>
                        <tr>
                            <th scope="row">Peso:</th>
                            <td>Descripción</td>
                        </tr>
                        <tr>
                            <th scope="row">Ancho:</th>
                            <td>{{ancho}} cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Alto:</th>
                            <td>{{altura}} cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Categoria:</th>
                            <td>{{categoria?.categoria1}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Detalles del Producto (Parte Derecha) -->
            <div class="col-md-9">
                <!-- Descripción del Producto -->
                <div class="mb-3">
                    <h4 class="mb-3">Reseña:</h4>
                    <textarea class="form-control p-3  " id="descripcion" rows="6" style="width: 100%; height: 300px;">
                        {{libro?.descripcion}}
                    </textarea>
                    <!-- Precio -->
                    <p class="text-end mt-2 fs-4">S/00.00</p>
                    <!-- Botones -->
                    <div class="d-flex justify-content-end">
                        <!-- Botón de Guardar en Favoritos -->
                        <button type="button" class="btn btn-outline-primary mb-3 me-3 fs-5">Guardar en Favoritos</button>
                        <!-- Botón de Comprar -->
                        <button type="button" class="btn btn-success fs-5">Comprar</button>
                    </div>
                    <!-- Cantidad -->
                    <div class="form-group mt-3 d-flex justify-content-start align-items-center">
                        <label for="cantidad" class="form-label me-3">Cantidad:</label>
                        <div class="input-group" style="max-width: 150px;">
                            <button class="btn btn-outline-secondary" type="button"  (click)="decrementarCantidad()">-</button>
                            <input type="number" class="form-control text-center"  [(ngModel)]="cantidad" readonly min="1"> 
                            <button class="btn btn-outline-secondary" type="button"  (click)="incrementarCantidad()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-between">
                    <img src="https://escaparateliterario.com/wp-content/uploads/2018/07/promocion-de-escritores-y-libros.jpg" class="d-block img-fluid" alt="Slide 1" style="max-height: 200px; width: calc(100% / 3);">
                    <img src="https://pbs.twimg.com/media/Ezqk2fiXEAIPtkN?format=jpg&name=4096x4096" class="d-block img-fluid" alt="Slide 2" style="max-height: 200px; width: calc(100% / 3);">
                    <img src="https://www.apj.org.pe/photos/shares/Nosotros%20Fondo%20Editorial/Fondo_Concursable.jpg" class="d-block img-fluid" alt="Slide 3" style="max-height: 200px; width: calc(100% / 3);">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-between">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.xataka.com%2Fn%2Fno-solo-japon-vive-manga-asi-como-autores-espanoles-han-hecho-suyo-este-estilo&psig=AOvVaw1VtJT3LiBGElnOu89wn4YX&ust=1710200728942000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKiehqrw6oQDFQAAAAAdAAAAABAS" class="d-block img-fluid" alt="Slide 4" style="max-height: 200px; width: calc(100% / 3);">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<app-footer></app-footer>






  
  
