<footer class="bg-primary py-3">
    <div class="container">
        <div class="row text-center text-white align-items-center">
            <!-- Logo centrado con el contenido en una única fila -->
            <div class="col-2 d-flex justify-content-center">
                <a href="#!" class="navbar-brand">
                    <img src="" alt="Logo Librería Saber" style="height: 55px;">
                </a>
            </div>
            <!-- Resto del contenido distribuido equitativamente -->
            <div class="col-10">
                <div class="row">
                    <div class="col-md-3">
                        <h5>ATENCIÓN</h5>
                        <p>+51 933273793 (Llamadas y WhatsApp)</p>
                        <p>Lunes a domingo de 8:30 am a 9 pm</p>
                    </div>
                    <div class="col-md-3">
                        <h5>CONTACTO</h5>
                        <p>+51 933273793</p>
                        <p>libreriasaber&#64;librosengeneral.com</p>
                    </div>
                    <div class="col-md-3">
                        <h5>RUC</h5>
                        <p>10200282707</p>
                    </div>
                    <div class="col-md-3">
                        <p>LIBRERÍA BAZAR SABER</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Texto de derechos reservados centrado en la parte inferior del footer -->
        <div class="row">
            <div class="col-12">
                <p class="text-center text-white m-0">© 2023 Derechos Reservados Librería Saber, Libros en general en Perú</p>
            </div>
        </div>
    </div>
</footer>
